#Activation of the URL rewrite module
RewriteEngine on

#URL rewriting conditions and rules

#File must not be a simple file
RewriteCond %{REQUEST_FILENAME} !-f 

#File must not be a directory
RewriteCond %{REQUEST_FILENAME} !-d

#QSA = Query String Append, L = Last
RewriteRule ^(.*)$ index.php?url=$1 [QSA, L]