/* ---- COMMON PROPERTIES ---- */

/* SCROLL */
html{
    /* Page scroll */
    scroll-behavior: smooth;
}

/* BODY */
body{
    /* background color */
    background-color: cornflowerblue;
}

/* TITLES */
h1, h2, h3, h4{
    /* Centering */
    text-align: center;
}

/* REQUIRED STAR */
.required_star{
    /* Color */
    color: rgb(120, 0, 0);
}

/* MAIN */
main{
    /* Outline */
    border: 2px solid black;

    /* Position of internal elements */ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FORM */
form{
    /* Outline */
    border: 2px solid black;

    /* Dimensions */
    width: 50%;

    /* External space */
    margin: 4px 0;

    /* Position of internal elements */ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* LABELS */
label{
    /* Centering */
    text-align: center;
}

/* COUNTING TEXT */
.count_txt{
    /* External space */
    margin-top: 0;
}

/* TAGS SECTION */
#tags_section{
    /* Outline */
    border: 2px solid black;

    /* External space */
    margin: 10px 0;

    /* Position of internal elements */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* TEXT IN TAGS SECTION */
#tags_section p{
    /* Background */
    background-color: forestgreen;

    /* Radius */
    border-radius: 10px;

    /* Internal space */
    padding: 0 4px;

    /* External space */
    margin: 4px 10px;

    /* Mouse icon */
    cursor: pointer;
}

/* OPTIONS CONTAINER */
#options_container{
    /* Outline */
    border: 2px solid black;

    /* External space */
    margin: 10px 0;

    /* Position of internal elements */
    display: flex;
    flex-direction: column;
}

/* DIVS IN OPTIONS CONTAINER */
#options_container div{
    /* Outline */
    border: 2px solid black;

    /* External space */
    margin: 6px;

    /* Position of internal elements */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* STYLE OPTIONS AND COLOR OPTIONS */
.style_option, .color_option{
    /* Mouse icon */
    cursor: pointer;
}

/* PREVIEW BACKGROUND */
#preview_bck{
    /* Background */
    background-color: rgba(0, 0, 0, 0.8);

    /* Dimensions */
    width: 100%;
    height: 100%;

    /* Position type */
    position: fixed;

    /* Coordinates */
    top : 0;
    left: 0;

    /* Order */
    z-index: 1;
}

/* PREVIEW DIV */
#preview_div{
    /* Background */
    background-color: goldenrod;

    /* Corners */
    border-radius: 10px; 
}

/* PREVIEW TOGGLE */
#preview_toggle{
    /* Background */
    background-color: rgb(220, 220, 220);

    /* Internal space */
    padding: 0 4px;

    /* Mouse icon */
    cursor: pointer;

    /* Order */
    z-index: 2;
}

/* CHAPTER TEXT PREVIEW */
#chapter_txt_preview{
    /* Centering */
    text-align: center;
}

/* ---- SIZE-BASED PROPERTIES ---- */

/* SMALL VERSION */
@media all and (max-width: 390px) 
{
    /* FORM */
    form{
        /* Dimensions */
        width: 80%;
    }

    /* FORM SECTIONS */
    form section{
        /* Dimensions */
        width: 90%;
    }

    /* TITLES */
    h3{
        /* Size */
        font-size: 18px;
    }

    /* TEXTS AND LABELS */
    p, label{
        /* Size */
        font-size: 16px;
    }

    /* INPUT AND PLACEHOLDERS */
    input, input::placeholder{
        /* Size */
        font-size: 14px;
    }

    /* TEXTAREA */
    textarea{
        /* Dimensions */
        width: 80%;

        /* Size */
        font-size: 16px;
    }

    /* TAGS SECTION */
    #tags_section{
        /* Dimensions */
        height: 200px;

        /* Position of internal elements */
        display: flex;
        flex-direction: column;
    }

    /* TEXT IN TAGS SECTION */
    #tags_section p{
        /* Size */
        font-size: 18px;
    }

    /* IMAGES IN DIVS IN OPTIONS CONTAINER */
    #options_container div img{
        /* Dimensions */
        width: 20px;
        height: 20px;
    }

    /* STYLE OPTIONS */
    .style_option{
        /* Dimensions */
        font-size: 12px;
    }

    /* PREVIEW DIV */
    #preview_div{
        /* Dimensions */
        width: 70%;
        height: 80%;
    }
}

/* MEDIUM VERSION */
@media all and (min-width: 390px) and (max-width: 430px) 
{
    /* FORM */
    form{
        /* Dimensions */
        width: 80%;
    }

    /* FORM SECTIONS */
    form section{
        /* Dimensions */
        width: 90%;
    }

    /* TITLES */
    h3{
        /* Size */
        font-size: 22px;
    }

    /* TEXTS AND LABELS */
    p, label{
        /* Size */
        font-size: 20px;
    }

    /* INPUT AND PLACEHOLDERS */
    input, input::placeholder{
        /* Size */
        font-size: 16px;
    }

    /* TEXTAREA */
    textarea{
        /* Dimensions */
        width: 80%;

        /* Size */
        font-size: 16px;
    }

    /* TAGS SECTION */
    #tags_section{
        /* Dimensions */
        height: 200px;

        /* Position of internal elements */
        display: flex;
        flex-direction: column;
    }

    /* TEXT IN TAGS SECTION */
    #tags_section p{
        /* Size */
        font-size: 18px;
    }

    /* IMAGES IN DIVS IN OPTIONS CONTAINER */
    #options_container div img{
        /* Dimensions */
        width: 20px;
        height: 20px;
    }

    /* STYLE OPTIONS */
    .style_option{
        /* Dimensions */
        font-size: 18px;
    }

    /* PREVIEW DIV */
    #preview_div{
        /* Dimensions */
        width: 80%;
        height: 80%;
    }
}

/* BIG VERSION */
@media all and (min-width: 430px) and (max-width: 853px) 
{
    /* FORM */
    form{
        /* Dimensions */
        width: 70%;
    }

    /* FORM SECTIONS */
    form section{
        /* Dimensions */
        width: 90%;
    }

    /* TITLES */
    h3{
        /* Size */
        font-size: 24px;
    }

    /* TEXTS AND LABELS */
    p, label{
        /* Size */
        font-size: 22px;
    }

    /* INPUT AND PLACEHOLDERS */
    input, input::placeholder{
        /* Size */
        font-size: 18px;
    }

    /* TEXTAREA */
    textarea{
        /* Dimensions */
        width: 80%;

        /* Size */
        font-size: 18px;
    }

    /* TAGS SECTION */
    #tags_section{
        /* Dimensions */
        height: 200px;

        /* Position of internal elements */
        display: flex;
        flex-direction: column;
    }

    /* TEXT IN TAGS SECTION */
    #tags_section p{
        /* Size */
        font-size: 18px;
    }

    /* IMAGES IN DIVS IN OPTIONS CONTAINER */
    #options_container div img{
        /* Dimensions */
        width: 20px;
        height: 20px;
    }

    /* STYLE OPTIONS */
    .style_option{
        /* Dimensions */
        font-size: 18px;
    }

    /* PREVIEW DIV */
    #preview_div{
        /* Dimensions */
        height: 80%;
    }
}

/* VERY BIG VERSION */
@media all and (min-width: 853px) 
{
    /* FORM */
    form{
        /* Dimensions */
        width: 50%;
    }

    /* FORM SECTIONS */
    form section{
        /* Dimensions */
        width: 90%;
    }

    /* TITLES */
    h3{
        /* Size */
        font-size: 24px;
    }

    /* TEXTS AND LABELS */
    p, label{
        /* Size */
        font-size: 22px;
    }

    /* INPUT AND PLACEHOLDERS */
    input, input::placeholder{
        /* Size */
        font-size: 18px;
    }

    /* TEXTAREA */
    textarea{
        /* Dimensions */
        width: 50%;

        /* Size */
        font-size: 18px;
    }

    /* TAGS SECTION */
    #tags_section{
        /* Dimensions */
        height: 200px;

        /* Position of internal elements */
        display: flex;
    }

    /* TEXT IN TAGS SECTION */
    #tags_section p{
        /* Size */
        font-size: 20px;

        /* External space */
        margin: 0 15px;
    }

    /* IMAGES IN DIVS IN OPTIONS CONTAINER */
    #options_container div img{
        /* Dimensions */
        width: 30px;
        height: 30px;
    }

    /* STYLE OPTIONS */
    .style_option{
        /* Dimensions */
        font-size: 22px;
    }

    /* PREVIEW DIV */
    #preview_div{
        /* Dimensions */
        height: 90%;
    }
}